Source: ros-indigo-object-classifier
Section: misc
Priority: extra
Maintainer: Thomas Fäulhammer <faeulhammer@acin.tuwien.ac.at>
Build-Depends: debhelper (>= 9.0.0), libsuitesparse-dev, ros-indigo-catkin, ros-indigo-classifier-srv-definitions, ros-indigo-object-perception-msgs, ros-indigo-roscpp, ros-indigo-segmentation-srv-definitions, ros-indigo-sensor-msgs, ros-indigo-std-msgs, ros-indigo-v4r, ros-indigo-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-object-classifier
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsuitesparse-dev, ros-indigo-classifier-srv-definitions, ros-indigo-object-perception-msgs, ros-indigo-roscpp, ros-indigo-segmentation-srv-definitions, ros-indigo-sensor-msgs, ros-indigo-std-msgs, ros-indigo-v4r, ros-indigo-visualization-msgs
Description: The object_classifier package
