Source: ros-indigo-segmentation
Section: misc
Priority: extra
Maintainer: Thomas Faeulhammer <faeulhammer@acin.tuwien.ac.at>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-cv-bridge, ros-indigo-image-transport, ros-indigo-pcl-conversions, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-segmentation-srv-definitions, ros-indigo-sensor-msgs, ros-indigo-v4r
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-segmentation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-cv-bridge, ros-indigo-image-transport, ros-indigo-pcl-conversions, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-segmentation-srv-definitions, ros-indigo-sensor-msgs, ros-indigo-v4r
Description: The segmentation package
